body {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #2e6497;
}

.header {
  position: relative;
  width: 100%;
  height: 60px;
  background-color: #282c34;
}

.header button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #0185aa;
  border: none;
  border-radius: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.container p {
  font-size: 18px;
  color: #333;
  margin: 15% auto;
}

.stopwatch-card {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.delete-button {
  margin-left: auto;
  margin-right: 5px;
  background-color: transparent;
  border: none;
  font-size: 18px;
  color: #888;
}

.time-display {
  font-size: 24px;
  font-weight: bolder;
  color: #333;
}

.control-buttons {
  border-top: 1px solid #ccc;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  width: 85%;
}

.buttons {
  display: flex;
  gap: 10px;
}

.start-button button {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.pause-button {
  background-color: #f0ad4e;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.resume-button {
  background-color: #5bc0de;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

.clear-button {
  background-color: #d9534f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
}

button {
  cursor: pointer;
}